@import url(../../../shared/styles/variables.css);

.incorrectInput {
    background-color: var(--input-error-color);
}

.pastText {
    color: var(--text-passed-color);
}

.copyingText {
    text-align: center;
}
.copyingTextError {
    text-align: center;
    color: var(--text-error-color);
}

