@import url(../../../../shared/styles/variables.css);

.typingField {
    /* margin: 200px 0 200px; */
    padding: 0 50px;
    /* margin: var(--main-form-margin) 0; */
    padding: 0 calc(var(--ui-step) * 2);
    align-self: center;
    width: min(var(--max-input-width), 100%);
}

/* .inputForm {
    width: 100%;
    align-self: center;
} */

.input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: 1px var(--input-form-unfocused-border-color) solid;
    border: 1px var(--input-form-unfocused-border-color) solid;
    border-radius: 5px;
    padding-bottom: 3px;

    &:focus {
        outline: none;
        border: 1px white solid;
        border-bottom: 1px var(--input-form-focused-border-color) solid;
    }
}

.incorrectInput {
    background-color: var(--input-error-color);
}