@import url(../../../shared/styles/variables.css);

.Main {
  width: calc(var(--ui-step) * 60);
  /* width: min(var(--max-input-width), 100%); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
